/firmware/ezi-2x232-2x485.X/build/
/firmware/ezi-2x232-2x485.X/dist/
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
/firmware/ezi-2x232-2x485.X/html/
/firmware/ezi-2x232-2x485.X/nbproject/private/
/firmware/ezi-2x232-2x485.X/nbproject/Package-*.bash
/firmware/ezi-2x232-2x485.X/build/
/firmware/ezi-2x232-2x485.X/nbbuild/
/firmware/ezi-2x232-2x485.X/dist/
/firmware/ezi-2x232-2x485.X/nbdist/
/firmware/ezi-2x232-2x485.X/nbactions.xml
/firmware/ezi-2x232-2x485.X/nb-configuration.xml
/firmware/ezi-2x232-2x485.X/funclist
/firmware/ezi-2x232-2x485.X/nbproject/Makefile-*
/firmware/ezi-2x232-2x485.X/disassembly/
/firmware/ezi-2x232-2x485.X/*.map
